form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0.8rem;
}

input,
select {
  border: none;
  background: transparent;
  border-bottom: 2px solid rgb(5, 5, 78);
  border-radius: 0.1rem;
  padding: 0.4rem 0.6rem 0.4rem 0.2rem;
}
input:focus {
  border-bottom: 3px solid rgb(5, 5, 78);
  outline: rgba(5, 5, 78, 0.5);
}

option {
  padding: 0.2rem;
  background: rgb(246, 248, 252);
}

.radio-buttons {
  padding: 0.3rem 0;
  display: flex;
  width: 100%;
  margin: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio-input {
  display: none;
}

.radio-label {
  cursor: pointer;
  position: relative;
  font-family: inherit;
  padding: 10px 20px;
  width: 7rem;
  display: flex;
  align-items: center;
  transition: all 0.3s linear;
  border-radius: 40px;
  opacity: 0.4;
  margin: 0 4px;
}
.radio-label::before {
  content: "";
  position: absolute;
  left: 8%;
  top: 40%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0;
  background: rgb(45, 216, 139);
}
.radio-input:checked + .radio-label::before {
  opacity: 1;
}

.radio-input:checked + label {
  color: white;
  background-color: rgb(69, 104, 220);
  opacity: 1;
}

.close-btn {
  background: none;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.submit-btn {
  padding: 0.8rem 1.5rem;
  background: rgb(69, 104, 220);
  color: #fff;
  letter-spacing: 0.1rem;
  font-weight: 500;
  width: 100%;
  border-radius: 6px;
}
