.icon-container {
  font-size: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 0.6rem;
  width: 100%;
  /* filter: drop-shadow(0 2px 2px rgba(50, 50, 0, 0.5)); */
}
.icon-container span {
  border-radius: 50%;
  padding: 0.8rem;
  text-align: center;
  color: rgba(166, 208, 224, 0.205);
}

.icon-container i {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  font-size: 7rem;
  border-radius: 50%;
  z-index: 0;
}

@media screen and (min-width: 992px) {
  .icon-container span {
    font-size: 3rem;
  }
}
