.notification-container {
  background: rgb(255, 255, 255);
  color: rgb(15, 2, 46);
  padding: 0.8rem 1rem;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 5%;
  left: 5%;
  right: 5%;
  z-index: 1000;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.notification-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(220, 69, 123);
  width: 10px;
}

@media screen and (min-width: 992px) {
  .notification-container {
    left: 40%;
    width: 300px;
  }
}
