@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;500;700&display=swap");

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav {
  padding: 1rem;
  display: flex;
}

nav a {
  color: rgb(15, 2, 46);
  font-size: 1rem;
}

body {
  padding: 0.5rem 0.7rem 4rem 0.7rem;
  margin: 0;
  font-family: "Overpass", sans-serif;
  background: rgb(187, 219, 251);
  color: rgb(15, 2, 46);
  min-height: 110vh;
}
button {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
}

.booklist-container {
  display: grid;
  place-content: center;
  position: relative;
}

.main-container {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 33.75px;
  font-weight: 700;
}

.total-books {
  padding-top: 1rem;
}

@media screen and (min-width: 992px) {
  .flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  h1 {
    font-size: 113.91px;
  }

  nav a {
    font-size: 2rem;
    transition: transform 0.5s ease-in-out;
  }

  nav a:hover {
    transform: translateY(-0.3rem);
  }
}
